Calcolo > QHBoxLayout > QLineEdit{
    width: 10em;
    }

QSpacerItem{
    width: 5em;

}

PulsanteConInput{
    height: 3em;
    width: 7.5em;

}

/*Selezione > QLineEdit, InputCreazione > QLineEdit{
    width: 2em;
}
*/
InputCreazione > QGroupBox > QLineEdit{

    width: 2em;
}
